body {
  background-color: rgb(56, 56, 63);
  font: 400 1.25em/1.38 Helvetica;
  color: rgb(201, 203, 206);
}

.image {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  height: auto;
  margin: 58px 0 0 10%;
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
  width: 39.1666666666%;
  margin-top: 40px;
  padding: 10px;
  font-size: 1em;
  color: rgb(201, 203, 206);
}

.text-2 p {
  margin-bottom: 1em;
}

.title {
  float: left;
  width: 39.1666666666%;
  margin: 29px 0 0 30.4166666666%;
  border-bottom: 3px solid rgb(131, 228, 166);
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
  color: rgb(131, 228, 166);
}

._text {
  clear: both;
  z-index: 2;
  margin-left: 10%;
  text-align: center;
}

.text-2 {
  z-index: 3;
  margin-left: 1.6666666666%;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}