body {
  background-color: rgb(255, 255, 255);
  font: 400 2.5em/1.38 Helvetica;
  color: rgb(38, 50, 56);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 25.6145833333%;
  height: 180px;
  margin: 182px 0 0 16.83073%;
}

.container .image {
  width: 307px;
  margin: 32px auto 0;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgb(128, 203, 194);
}

.hero-text {
  position: relative;
  float: left;
  z-index: 3;
  width: 39.1666666666%;
  height: 183px;
  margin: 100px 0 0 30.41667%;
  padding: 1px;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.quick-action {
  position: relative;
  float: left;
  z-index: 9;
  width: 25.5872395833%;
  height: 177px;
  margin: 182px 0 0 15.16276%;
}

.quick-action-img {
  display: block;
  width: 307px;
  height: auto;
  margin: 32px auto 0;
  overflow: hidden;
}

.quick-action .quick-action-text,
.text {
  width: 99.6753246753%;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  color: rgb(38, 50, 56);
}

.title {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.image-2 {
  float: left;
  clear: both;
  width: 306px;
  margin: 1px 0 0 16.83073%;
}

.quick-action-text-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 25.50390625%;
  margin: 114px 0 0 16.79948%;
  font-size: 1em;
  text-align: center;
  color: rgb(38, 50, 56);
}

.quick-action-text-3 {
  position: relative;
  float: left;
  z-index: 11;
  width: 25.50390625%;
  margin: 121px 0 0 15.29297%;
  font-size: 1em;
  text-align: center;
  color: rgb(38, 50, 56);
}

.quick-action-text-4 {
  float: left;
  width: 25.50390625%;
  margin: 398px 0 0 8.46745%;
  font-size: 1em;
  color: rgb(38, 50, 56);
}

.quick-action-text-5 {
  float: left;
  clear: both;
  width: 25.50390625%;
  margin-left: 50.8%;
  font-size: 0.5em;
  color: rgb(58, 77, 87);
}

.title-1 {
  font-size: 1.375em;
}

.title-2 {
  clear: both;
  font-size: 0.625em;
}