@import "ui-variables";
@import "ui-mixins";

@unsubscribe-img: "nylas://n1-unsubscribe/assets/unsubscribe.png";

.thread-list .list-item .list-column-HoverActions {
	.action.action-unsubscribe {
    	background: url(@unsubscribe-img) center no-repeat, @background-gradient;
	}
}
body.platform-win32 { 
	.thread-list .list-item .list-column-HoverActions {
		.action.action-unsubscribe {
      		background: url(@unsubscribe-img) center no-repeat;
		}
	}
}
